In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [57]:
df = pd.read_csv('/content/age_of_marriage_data.csv')
df.head(5)

   id  gender height  ...         location          country age_of_marriage
0   1  female   5'4"  ...           London   United Kingdom            21.0
1   2    male   5'7"  ...      Fairfax- VA              USA            32.0
2   3    male   5'7"  ...        Begusarai            India            32.0
3   4  female   5'0"  ...           Mumbai            India            30.0
4   5    male   5'5"  ...  Sulthan Bathery            India            30.0

[5 rows x 10 columns]

In [61]:
X = df.iloc[:,[1,2,3,4,5,6,8]]
X.head(5)

   gender height  ...                        profession          country
0  female   5'4"  ...                               NaN   United Kingdom
1    male   5'7"  ...  Doctor / Healthcare Professional              USA
2    male   5'7"  ...         Entrepreneurs / Business             India
3  female   5'0"  ...                         Architect            India
4    male   5'5"  ...    Sales Professional / Marketing            India

[5 rows x 7 columns]

In [62]:
y = df.age_of_marriage
y.fillna(y.mean(),inplace=True)
y.isnull().sum()

0

In [63]:
X['profession'].replace('Indian Police Services [IPS]','Indian Police Services (IPS)',inplace=True)
X.replace(np.NaN,'0',True)
X.head(2)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

   gender height  ...                        profession          country
0  female   5'4"  ...                                 0   United Kingdom
1    male   5'7"  ...  Doctor / Healthcare Professional              USA

[2 rows x 7 columns]

In [64]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['gender','religion','caste','mother_tongue','profession','country']] = \
X.loc[:,['gender','religion','caste','mother_tongue','profession','country']].apply(enc.fit_transform)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [65]:
X.replace(0,np.NaN,inplace=True)
X.fillna(X.mean(),inplace=True)
X.head(2)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   gender height  religion  caste  mother_tongue  profession  country
0     1.0   5'4"  2.236025   42.0           25.0   44.831024     28.0
1     2.0   5'7"  3.000000   34.0            7.0   23.000000     26.0

In [66]:
int(X.loc[1,'height'].split('\'')[0])*30.48

152.4

In [67]:
int(X.loc[1,'height'].split('\'')[1].replace('"',''))*2.54

17.78

In [0]:
def h_cms(h):
    return (int(h.split('\'')[0])*30.48 + int(h.split('\'')[1].replace('"',''))*2.54)

In [69]:
X.iloc[:,1].replace('0','0\'0"',inplace=True)
X.iloc[:,1].isnull().sum()

0

In [70]:
X.height = X.height.apply(h_cms)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [71]:
X.height.replace(0.0,np.NaN,inplace=True)
X.height.fillna(X.height.mean(), inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [72]:
X.isnull().sum()

gender           0
height           0
religion         0
caste            0
mother_tongue    0
profession       0
country          0
dtype: int64

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
import xgboost as xgb
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR


from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
from sklearn.model_selection import GridSearchCV

In [0]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state=46)

In [0]:
tuned_parameters = [{'max_depth':[5,10,15,20,25,30,35,40], 'n_estimators':[100,150,200,250,300,350,400,450]}]

model = GridSearchCV(RandomForestRegressor(), tuned_parameters, cv=4, scoring='r2')
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [76]:
print('MAE: ', mean_absolute_error(y_test,y_predict))
print('MSE: ', mean_squared_error(y_test,y_predict))
print('R2 Score: ', r2_score(y_test,y_predict))
model.best_params_

MAE:  1.566596830380916
MSE:  4.7663356447244585
R2 Score:  0.4061871013899031

{'max_depth': 10, 'n_estimators': 300}

In [77]:
model = RandomForestRegressor(max_depth=10, n_estimators=300)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print('MAE: ', mean_absolute_error(y_test,y_predict))
print('MSE: ', mean_squared_error(y_test,y_predict))
print('R2 Score: ', r2_score(y_test,y_predict))

MAE:  1.5591096928545247
MSE:  4.752581886038706
R2 Score:  0.40790061045026693

In [78]:
from sklearn.externals import joblib
joblib.dump(model, 'marriage_age_pred_model.ml')

['marriage_age_pred_model.ml']

In [0]:
model_load = joblib.load('marriage_age_pred_model.ml')

In [81]:
model_load.predict([[2,175,2,5,6,5,6]])

array([29.37459848])

In [82]:
X.head(5)

   gender  height  religion  caste  mother_tongue  profession  country
0     1.0  162.56  2.236025   42.0           25.0   44.831024     28.0
1     2.0  170.18  3.000000   34.0            7.0   23.000000     26.0
2     2.0  170.18  2.000000   14.0            9.0   26.000000      8.0
3     1.0  152.40  2.000000   36.0            9.0    8.000000      8.0
4     2.0  165.10  1.000000   13.0           14.0   70.000000      8.0